@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Motush Trash Collector</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
    <h1>Motush Trash</h1>
    <p>Better keep yourself clean and bright; you are the window through which you must see the world. </p>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Customer"))
        {
            <h1>You are now logged in.</h1>
            <h2>Choose from several options below:</h2>
            <ul>
                <li><a href="/Customer/Create">Create You're Profile</a></li>
                <li><a href="/RegularPickup/Create">Request For Trash Pickup</a></li>
                <li><a href="/SpecialPickup/Create">Request For Special  Pickup</a></li>
            </ul>
        }

        if (User.IsInRole("Employee"))
        {
            <h1>Hello.</h1>
            <h2>Choose from several options below:</h2>
            <ul>
              
            </ul>
        }
    }
    else
    {
        //No user is logged in
            <h2>Please login.</h2>
            <h3>How To - Instructions</h3>
            <ol>
                <li>Customer must login</li>
                <li>Customer must request fot trash pickup</li>
                
            </ol>
            <p><strong>Note:</strong> All employees must login to view all customer requests.</p>
    }
        </body>
</html>
