@model TrashCollector1.Models.Customer

@{
    ViewBag.Title = "MakePayment";
}

<h2>MakePayment</h2>
<h2>MakePayment</h2>

<form action="your-server-side-code" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
            data-amount="@ViewBag.TotalBill"
            data-name="Stripe.com"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="false">
    </script>
</form>
